**LISTS**

In [ ]:
# 1.sum
def add(x):
  sum=0
  for i in x:
    sum=sum+i
  return sum

x=[2,4,8,6]
add(x)

20

In [ ]:
# 2.multiply
def multiply(x):
  mul=1
  for i in x:
    mul=mul*i
  return mul

x=[2,4,8,6]
multiply(x)

384

In [ ]:
# 3.max of no
def max(x):
  max=x[0]
  for i in x:
    if i>max:
      max=i
  print("Largest=",max)

x=[2,4,8,6]
max(x)

Largest= 8

In [ ]:
# 4.min of no
def min(x):
  min=x[0]
  for i in x:
    if i<min:
      min=i
  print("Smallest=",min)

x=[2,4,8,6]
min(x)

Smallest= 2

In [ ]:
# 5.count the number of strings where the string length is 2 or more
#and check the first and last character are same
li=[str(i) for i in input().split()]
count=0
for i in range(0,len(li)):
  ele=li[i]
  length=len(ele)
  if length>=2:
    var1=ele[0]
    var2=ele[length-1]
    if var1==var2:
      count+=1
    else:
      continue
print(count)

aba ahg
1

In [ ]:
# 6.remove duplicates
arr=[int(i) for i in input().split()]
n=[]
for i in arr:
  ele=i
  if ele in n:
    continue
    #n.append(ele)
  else:
    n.append(ele)
    #continue
print(n)

1 2 5 2 1
[1, 2, 5]

In [ ]:
# 7.empty or not empty
def emp(li):
  if (len(li)>0):
    print("Not Empty")
  else:
    print("Empty")

li=[5,6]
emp(li)

Not Empty

In [ ]:
# 8.clone
arr=[int(i) for i in input().split()]
n=[]
for i in arr:
  if i in n:
    continue
  else:
    n.append(i)
print (n)

10 22 44 3
[10, 22, 44, 3]

In [ ]:
# 9.find the list of words that are longer than n from a given list of words
li=(str(i) for i in input().split())
n=int(input())
m=[]
for i in li:
  if len(i)>n:
    m.append(i)
print(m)

['Words', 'Longer', 'given', 'Words']

In [ ]:
# 10.get two lists as input and check if they have at least one common member
def common(l1,l2):
  res=False
  for i in l1:
    for j in l2:
      if (i==j):
        res=True
        print(res)

  if res:
    print("Lists have at least one common member")
  else:
    print("Lists do not have any common member")

l1=[1,2,3,4,5]
l2=[5,6,7,8,9]
common(l1,l2)

True
Lists have at least one common member

In [ ]:
# 11.specified list after removing the 0th, 4th and 5th elements.
li=[str(i) for i in input().split()]
index=[int(i) for i in input().split()]
n=[]
for i in range(0,len(li)):
  if i not in index:
    n.append(li[i])
print(n)

cat pig dog lion fox tiger
0 4 5
['pig', 'dog', 'lion']

In [ ]:
# 12.print the numbers of a specified list after removing even numbers from it
def remove(x):
  n=[]
  for i in x:
    if(i%2!=0):
      n.append(i)
  print(n)

x=7,13,81,20,6
remove(x)

In [ ]:
# 13.shuffle
from random import shuffle
animal=[str(i) for i in input().split()]
shuffle(animal)
print(animal)

cat dog fox pig
['pig', 'fox', 'dog', 'cat']

In [ ]:
# 14.generate and print a list of first and last 5 elements
#where the values are square of numbers between 1 and 30
a=[]
for i in range(1,30):
	a.append(i**2)
print(a[:5])
print(a[-5:])

[1, 4, 9, 16, 25]
[625, 676, 729, 784, 841]

In [ ]:
# 15.permutation
import itertools
li=[int(i) for i in input().split()]
list(itertools.permutations(li))

1 2 3

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

In [ ]:
# 16.convert char to string in list
li=[str(i) for i in input().split()]
word=""
#word= ''.join(li)
  #   (or)
for i in li:
  word=word+i
print(word)

t u t o t
tutot

In [ ]:
# 17. index of an item in a specified list
num=[int(i) for i in input().split()]
n=int(input())
print(num.index(n))

10 20 30
20
1

In [ ]:
# 18.flatten a shallow list
def lists(x):
  n=[]
  for i in x:
    for j in i:
      n.append(j)
  print(n)

x=[[1,2,3],[4,5,6]]
lists(x)

[1, 2, 3, 4, 5, 6]

In [ ]:
# 19.add a list to the second list
def add(x,y):
  z=x+y
  print(z)

x=[10,20,30]
y=['cat','dog','pig']
add(x,y)

[10, 20, 30, 'cat', 'dog', 'pig']

In [ ]:
# 20.select an item randomly from a list
import random
animal = ["Cat", "Dog", "Elephant", "Fox", "Tiger", "Lion", "Ponda"]
print(random.choice(animal))

Tiger

In [ ]:
# 21.check whether two lists are circularly identical
x=[int(i) for i in input().split()]
y=[int(i) for i in input().split()]
z=[int(i) for i in input().split()]
print("compare x and y",''.join(map(str, x)) in ''.join(map(str, y*2)))
print("compare y and z",''.join(map(str, y)) in ''.join(map(str, z*2)))

8 8 8 12 12
8 8 12 12 8
1 8 8 12 12
compare x and y True
compare y and z False

In [ ]:
# 22.second smallest number in a list
x=[int(i) for i in input().split()]
min=x[0]
secmin=0
for i in x:
  if min<i:
    secmin=min
    min=i
print(secmin)

10 20 30
20

In [ ]:
# 23.second largest number in a list
x=[int(i) for i in input().split()]
max=x[0]
secmax=0
for i in x:
  if i>max:
    secmax=max
    max=i
print(secmax)

10 20 30 40
30

In [ ]:
# 24.unique values
arr=[int(i) for i in input().split()]
li=[]
for i in arr:
  if i in li:
    continue
  else:
    li.append(i)
print(li)

1 5 7 6 1
[1, 5, 7, 6]

In [ ]:
# 25.frequency of the elements in a list
import collections
li=[int(i) for i in input().split()]
n=collections.Counter(li)
print(n)

10 20 30 20 10 20 40
Counter({20: 3, 10: 2, 30: 1, 40: 1})

In [ ]:
# 26.Create a list by concatenating a given list which range goes from 1 to n
li=[(i) for i in input().split()]
n=int(input())
x=['{}{}'.format(a,b) for b in range(1,n+1) for a in li]
print(x)

j k
3
['j1', 'k1', 'j2', 'k2', 'j3', 'k3']

In [ ]:
# 27.unique identification number or string
x=[str(i) for i in input().split()]
print(id(x))
y=[int(i) for i in input().split()]
print(id(y))

'hi'
132364313356544
10
132364299289280

In [ ]:
# 28.common items from two lists
x=[int(i) for i in input().split()]
y=[int(i) for i in input().split()]
z=[]
for i in x:
  if i in y:
    z.append(i)
print(z)

1 2 3
2 3 4
[2, 3]

In [ ]:
# 29.split a list based on first character of word
a=["cat", "dog", "cow", "tiger", "lion", "Fox", "Shark", "Snake", "turtle", "mouse", "monkey", "bear"]
b=a.copy()
li=[]
for i in range(0,len(a)):
  temp=[]
  for j in range(0,len(b)):
    if(a[i][0]==b[j][0]):
      #temp.append(a[i])
      temp.append(b[j])
  li.append(temp)
print(li)

[['cat', 'cow'], ['dog'], ['cat', 'cow'], ['tiger', 'turtle'], ['lion'], ['Fox'], ['Shark', 'Snake'], ['Shark', 'Snake'], ['tiger', 'turtle'], ['mouse', 'monkey'], ['mouse', 'monkey'], ['bear']]

In [ ]:
final=[]
for k in li:
  if k not in final:
    final.append(k)
print(final)

[['cat', 'cow'], ['dog'], ['tiger', 'turtle'], ['lion'], ['Fox'], ['Shark', 'Snake'], ['mouse', 'monkey'], ['bear']]

In [ ]:
for k in final:
  print(k[0][0])
  for j in k:
    print(j)

c
cat
cow
d
dog
t
tiger
turtle
l
lion
F
Fox
S
Shark
Snake
m
mouse
monkey
b
bear

In [ ]:
# 30.odd no
def odd(x):
  n=[]
  for i in x:
    if(i%2!=0):
      n.append(i)
  print(n)

x=[1,2,4,3,6,7,5,8,9,7,8,9,10]
odd(x)

[1, 3, 7, 5, 9, 7, 9]

In [ ]:
# 31.count unique values
li=[int(i) for i in input().split()]
n=[]
for i in li:
  if i not in n:
    n.append(i)
  x=len(n)
print(x)

10 20 30 20 40 50 10
5

In [ ]:
# 32.to List product excluding duplicates
arr=[int(i) for i in input().split()]
li=[]
for i in arr:
  if i not in li:
    li.append(i)
mul=1
for i in li:
  mul=mul*i
print(mul)

1 2 3 4 2 1
24

In [ ]:
# 33.elements with Frequency greater than K
li=[(i) for i in input().split()]
k=int(input())
x=[]
for i in li:
  f=li.count(i)
  if f>k and i not in x:
    x.append(i)
print(x)

4 6 4 3 3 4 3 7 8 8
2
['4', '3']

In [ ]:
# 34.Test if List contains elements in Range
a=[int(i) for i in input().split()]
min=int(input())
max=int(input())
flag=False
for i in a:
  if ((i>=min) and (i<=max)):
    flag=True
  else:
    flag=False
print(flag)

1 4 5 6 3
1
6
True

In [ ]:
# 35.check if the list contains three consecutive common numbers
a=[int(i) for i in input().split()]
for i in range(0,len(a)-2):
  if a[i]==a[i+1] and a[i+1]==a[i+2]:
    print(a[i])

1 2 2 2 3 6 6 6
2
6

In [ ]:
# 36.Strongest Neighbour
li=[int(i) for i in input().split()]
a=[]
for i in range(0,len(li)-1):
  r=max(li[i],li[i+1])
  a.append(r)
print(a)

10 20 30 20 30 400
[20, 30, 30, 30, 400]

In [ ]:
# 37.Possible Combinations from the three Digits
a=[int(i) for i in input().split()]
for i in range(0,len(a)):
    for j in range(0,len(a)):
        for k in range(0,len(a)):
            if (i!=j and j!=k and i!=k):
                print(a[i], a[j], a[k])

1 2 3
1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

In [ ]:
import itertools
li=[int(i) for i in input().split()]
n=itertools.permutations(li)
print(*n)

1 2 3
(1, 2, 3) (1, 3, 2) (2, 1, 3) (2, 3, 1) (3, 1, 2) (3, 2, 1)

In [ ]:
# 38.all the Combinations in the list with the given condition
def com(l1):
  l2=[]
  for x,y in zip(l1[1],l1[2]):
    temp=[]
    temp.append(l1[0])
    temp.append(x)
    temp.append(y)
    l2.append(temp)
  print(l2)
l1=['Tutor Joes', ['Software', 'Computer'], ['Solution', 'Education']]
com(l1)

[['Tutor Joes', 'Software', 'Solution'], ['Tutor Joes', 'Computer', 'Education']]

In [ ]:
# 39.unique combinations of two Lists
a=[(i) for i in input().split()]
b=[int(i) for i in input().split()]
c=[]
for i in range(0,len(a)):
  for j in range(0,len(b)):
    c.append((a[i],b[j]))
print (c)

x y z
1 2 3
[('x', 1), ('x', 2), ('x', 3), ('y', 1), ('y', 2), ('y', 3), ('z', 1), ('z', 2), ('z', 3)]

In [ ]:
# 40.
li=[int(i) for i in input().split()]
n=[]
for i in range(0,len(li)):
  f=li.count(i)
  if f==1:
    n.append(i)
print(n)

1 3 4 6 5 1
[3, 4, 5]

In [ ]:
# 41.Remove Consecutive K element records
def occ(a,k):
  n=[]
  for i in a:
    flag= False
    for j in range(len(i)-1):
      if i[j] == k and i[j+1] == k:
        flag=True
        break
    if not flag:
      n.append(i)
  print(n)


a=[ ('A', 'B', 'C', 'D'), ('B', 'C', 'C', 'I'), ('H', 'D', 'B', 'C'), ('C', 'C', 'G', 'F') ]
k="C"
occ(a,k)

[('A', 'B', 'C', 'D'), ('H', 'D', 'B', 'C')]

In [ ]:
#   (or)
def occ(l1):
  l2=[]
  for i in l1:
    if(len(i)==len(set(i))):
      l2.append(i)
  print(l2)
l1=[ ('A', 'B', 'C', 'D'), ('B', 'C', 'C', 'I'), ('H', 'D', 'B', 'C'), ('C', 'C', 'G', 'F') ]
occ(l1)

[('A', 'B', 'C', 'D'), ('H', 'D', 'B', 'C')]

In [ ]:
# 42.Replace index elements with elements in Other List
a=[(i) for i in input().split()]
b=[int(i) for i in input().split()]
res=[a[i] for i in b]
print(res)

comp educ joes
2 1 0 1 0 2
['joes', 'educ', 'comp', 'educ', 'comp', 'joes']

In [ ]:
# 43.Retain records with N occurrences of K
def occ(li,n,k):
  a=[]
  for i in li:
  #ele=a[i]
    count=0
    for j in range(len(i)-1):
      if i[j]==k:
        count+=1
    if count>=n:
      a.append(i)

  print(a)


li=[ (4, 5, 6, 5, 4), (4, 5, 3), (5, 5, 2), (3, 4, 9) ]

k = 5

n = 2
occ(li,n,k)

[(4, 5, 6, 5, 4), (5, 5, 2)]

In [ ]:
# 44.Swap elements in String list
l1=['Tutor', 'joes', 'Computer', 'Education']
l1[1]="joe's"
l1[2]="Software"
l1[3]="Solution"
l1

['Tutor', "joe's", 'Software', 'Solution']

In [ ]:
# 45.reverse All Strings in String List
a=['Tutor', 'joes', 'Computer', 'Education']
a[::-1]

['Education', 'Computer', 'joes', 'Tutor']

In [ ]:
a=['Tutor', 'joes', 'Computer', 'Education']
for i in a:
  n=i[::-1]
  print(n)

rotuT
seoj
retupmoC
noitacudE

In [ ]:
li=[str(i) for i in input().split()]
k=int(input())
idx = 0
for i in li:
  if idx + len(i)> k:
    #x=str(k-idx)
    print("v:"+str(k-idx))
    break
  else:
    idx += (len(i))
else:
  print("K is beyond the end of the list")

['Tutor', 'joes', 'Computer', 'Education']
20
v:4

In [ ]:
l1=[str(i) for i in input().split()]
l2=[]
for i in l1:
  for j in range(0,len(i)):
    l2.append(j)
print(l2[20])

['Tutor', 'joes', 'Computer', 'Education']
4

In [ ]:
# 47.Prefix frequency in string List
def freq(li,k):
  res=0
  for i in li:
    if i.startswith(k):
      res+=1
  print((res))

li=["TjC","TjCpp","TjPython","Java"]
k="Tj"
freq(li,k)

3

In [ ]:
#    (or)
def freq(li,k):
  res=0
  for i in li:
    if i.find(k)==0:
        res+=1
  print((res))

li=["TjC","TjCpp","TjPython","Java"]
k="Tj"
freq(li,k)

3

In [ ]:
# 48.
def pre(li,k):
  n=[]
  x=[]
  for i in li:
    if i.startswith(k):
      n.append(i)
    else:
      x.append(i)
  print(n)
  print(x)

li=["TjC","TjCpp","TjPython","Java"]
k="Tj"
pre(li,k)

['TjC', 'TjCpp', 'TjPython']
['Java']

In [ ]:
# 49.Replace all Characters of a List Except the given character
li=[i for i in input().split()]
n=input()
x=input()
res=[]
for i in li:
  if i==n:
    res.append(i)
  else:
    res.append(x)
print(res)

p y t h o n
t
@
['@', '@', 't', '@', '@', '@']

In [ ]:
# 50.Add Space between Potential Words
li=[i for i in input().split()]
res=[]
for i in li:
  s=""
  for j in i:
    if (j.isupper()):
      s=s+" "+j
    else:
      s=s+j
  res.append(s)
print(res)

TutorJoes ComputerEducations
[' Tutor Joes', ' Computer Educations']

**TUPLES**

In [ ]:
# 1.create a tuple
a=tuple()
print(a)

()

In [ ]:
# 2.create a tuple with different data types
li=[i for i in input().split()]
t=tuple(li)
t

Tutor True T 3.21 10

('Tutor', 'True', 'T', '3.21', '10')

In [ ]:
# 3.create a tuple with numbers and print one item
n=input()
t=tuple(n)
type(t)

10

tuple

In [ ]:
# 4.unpack a tuple in several variables
li=[i for i in input().split()]
t=tuple(li)
t

a=input()
b=input()
c=input()

(a,b,c)=t
t

4 8 3
2
5
7

('4', '8', '3')

In [ ]:
# 5.add an item in a tuple
li=[i for i in input().split()]
n=input()
li.append(n)
t=tuple(li)
t

10 40 50 70 90
20

('10', '40', '50', '70', '90', '20')

In [ ]:
# 6.convert a tuple to a string
li=[i for i in input().split()]
t=tuple(li)
n="".join(t)
print(n)

t u t o r
tutor

In [ ]:
# 7.get the 4th element and 4th element from last of a tuple
li=[i for i in input().split()]
t=tuple(li)
a=t[3]
b=t[-4]
print(a)
print(b)

w 3 r e s o u r c e
e
u

In [ ]:
# 8.create the colon of a tuple
li=[i for i in input().split()]
t=tuple(li)
n=[]
for i in t:
  n.append(i)
print(tuple(n))

"Tutor", 'J', 23 , 56.67 , [23,12] , True
('"Tutor",', "'J',", '23', ',', '56.67', ',', '[23,12]', ',', 'True')

In [ ]:
# 9.find the repeated items of a tuple
li=[i for i in input().split()]
t=tuple(li)
n=input()
print((t.count(n)))

2 5 6 8 2 3 4 7 2
2
3

In [ ]:
# 10.check whether an element exists within a tuple
li=[i for i in input().split()]
t=tuple(li)
n=input()
if n in t:
  print(True)
else:
  print (False)

t u t o r 7
7
True

In [ ]:
# 11.convert a list to a tuple
li=[i for i in input().split()]
t=tuple(li)
t

12 45 78 36 90

('12', '45', '78', '36', '90')

In [ ]:
# 12.remove an item from a tuple
li=[i for i in input().split()]
n=input()
li.remove(n)
t=tuple(li)
print(t)

23 56 89 14 70
56
('23', '89', '14', '70')

In [ ]:
# 13.slice a tuple
t=(10, 20, 30, 40, 50, 60, 70, 80, 90, 100)
t[3:8]

(40, 50, 60, 70, 80)

In [ ]:
# 14.find the index of an item of a tuple
li=[i for i in input().split()]
t=tuple(li)
n=input()
print((t.index(n)))

12 45 78 36 90
78
2

In [ ]:
# 15.find the length of a tuple
li=[i for i in input().split()]
t=tuple(li)
print(len(t))

lion cat dog fox
4

In [ ]:
# 16.

In [ ]:
# 17.unzip a list of tuples into individual lists
def unzip(li):
  a=[]
  b=[]
  res=[]
  for i in li:
    a.append(i[0])
    b.append(i[1])
  res.append(tuple(a))
  res.append(tuple(b))
  print(res)
li=[ (10,30), (60,90), (20,50) ]
unzip(li)

[(10, 60, 20), (30, 90, 50)]

In [ ]:
#  (or)
def unzip(li):
  res=zip(*li)
  print(tuple(res))

li=[ (10,30), (60,90), (20,50) ]
unzip(li)

((10, 60, 20), (30, 90, 50))

In [ ]:
# 18.reverse a tuple
li=[i for i in input().split()]
li.reverse()
t=tuple(li)
t

23 56 98 41

('41', '98', '56', '23')

In [ ]:
# 21.create a tuple with single item 23
n=input()
t=tuple(n)
type(t)

23

tuple

In [ ]:
# 22.Unpack the tuple into 5 variables
li=[i for i in input().split()]
t=tuple(li)
t

#a=input()
#b=input()
#c=input()
#d=input()
#e=input()

(a,b,c,d,e)=t

print(a)
print(b)
print(c)
print(d)
print(e)

11 22 33 44 55
11
22
33
44
55

In [ ]:
# 23.Swap two tuples
l1=[i for i in input().split()]
t1=tuple(l1)
l2=[i for i in input().split()]
t2=tuple(l2)
temp=t1
t1=t2
t2=temp
print(t1,t2)

10
20
('20',) ('10',)

In [ ]:
# 24.Copy specific elements from one tuple to a new tuple
li=[i for i in input().split()]
t=tuple(li)
n=t[3:8]
print(tuple(n))

10 20 30 40 50 60 70 80 90
('40', '50', '60', '70', '80')

In [ ]:
# 25.Modify the tuple
li=[i for i in input().split()]
n=input()
li[2]=n
t=tuple(li)
print(t)

10 20 30 40
33
('10', '20', '33', '40')

In [ ]:
# 26.Sort a tuple of tuples by 2nd item
def sorting(t):
  lst=len(t)
  for i in range(0,lst):
    for j in range(0,lst-i-1):
      if (t[j][1]>t[j+1][1]):
        temp=t[j]
        t[j]=t[j+1]
        t[j+1]=temp
  return t

t=[ ('a', 53), ('b', 37), ('c', 23), ('d', 1), ('e', 18) ]
print(sorting(t))

[('d', 1), ('e', 18), ('c', 23), ('b', 37), ('a', 53)]

In [ ]:
# 27.Counts the number of occurrences of item 30 from a tuple
li=[i for i in input().split()]
t=tuple(li)
print((t.count("30")))

30 20 10 30 60 50 30
3

In [ ]:
# 28.compute element-wise sum of given tuples
l1=[int(i) for i in input().split()]
t1=tuple(l1)
l2=[int(i) for i in input().split()]
t2=tuple(l2)
l3=[int(i) for i in input().split()]
t3=tuple(l3)
l4=[int(i) for i in input().split()]
t4=tuple(l4)
combine=zip(t1,t2,t3,t4)
result=list(map(sum,combine))
print(result)

2 5 8
6 5 1
1 4 7
3 7 2
[12, 21, 18]

In [ ]:
# 29.sort a tuple by its float element
def sorting(t):
  lst=len(t)
  for i in range(0,lst):
    for j in range(0,lst-i-1):
      if (t[j][1]<t[j+1][1]):
        temp=t[j]
        t[j]=t[j+1]
        t[j+1]=temp
  return t

t=[('Ram', '89.20'), ('Siva', '76.45'), ('Pooja', '84.40'), ('Tara', '68.43'), ('Jeeva', '91.40') ]
print(sorting(t))

[('Jeeva', '91.40'), ('Ram', '89.20'), ('Pooja', '84.40'), ('Siva', '76.45'), ('Tara', '68.43')]

In [ ]:
def last(li,r):
  for i in li:

      li.insert(j[-1],10)
  print(li)
li=[(5, 2, 3), (4, 7, 6), (8, 9, 6)]
last(li)

TypeError: ignored

In [ ]:
# 32.Extract Symmetric Tuples
def sym(li):
  res=[]
  n=set()
  for i in li:
    if i in n or (i[1],i[0]) in n:
      res.append(i)
    else:
      n.add(i)
  print(set(res))
  print(n)
li=[ (18, 23), (2, 9), (7, 6), (9, 2), (10, 2), (23, 18) ]
sym(li)

{(23, 18), (9, 2)}
{(2, 9), (7, 6), (18, 23), (10, 2)}

In [ ]:
# 33.Sort Tuples by their Maximum element
l1=[(i) for i in input().split()]
t1=(tuple(l1))
t.sort(reverse=True)
print(t)

[ (4, 5, 5, 7), (1, 3, 7, 4), (19, 4, 5, 3), (1, 2) ]
[(19, 4, 5, 3), (4, 5, 5, 7), (1, 3, 7, 4), (1, 2)]

In [ ]:
# 34.Remove nested records from tuple
def rem(t1):
  res=[]
  for i in t1:
    if type(i) is not tuple:
      res.append(i)
  print(res)
t1=(10, 20, (30,), 40, (50, 60), 70)
rem(t1)

[10, 20, 40, 70]

In [ ]:
# 35.
import collections
li=[(i) for i in input().split()]
t=tuple(li)
n=collections.Counter(t)
print(n)

(10, 20, (20, 10), 30, (40, 50, 60), 60, 70)
Counter({'(10,': 1, '20,': 1, '(20,': 1, '10),': 1, '30,': 1, '(40,': 1, '50,': 1, '60),': 1, '60,': 1, '70)': 1})

In [ ]:
# 36. unique elements in nested tuple
def unique(li):
  res=[]
  for i in li:
    for j in i:
      if not j in res:
        res.append(j)
  print(res)
li=[ (1, 3, 5), (4, 5, 7), (1, 2, 6), (10, 9), (10,) ]
unique(li)

[1, 3, 5, 4, 7, 2, 6, 10, 9]

In [ ]:
# 37.Concatenate tuples to nested tuples
l1=[(i) for i in input().split()]
t1=(tuple(l1))
l2=[(i) for i in input().split()]
t2=(tuple(l2))
print(t1+t2)

(18 23 2 9)
(10 3 11)
('(18', '23', '2', '9)', '(10', '3', '11)')

In [ ]:
def sorting(t):

  t.sort()
  print(t)
t=[ [10, 50, 60], [80, 20, 30], [70, 100, 40], (90,) ]

sorting(t)

TypeError: ignored

In [ ]:
# 38.
def sorting(t):
  lst=len(t)
  for i in range(0,lst):
    for j in range(0,lst-i-1):
      t.sort()
      if (t[j][0]>t[j+1][0]):
        temp=t[j]
        t[j]=t[j+1]
        t[j+1]=temp
  return t
t=[ [10, 50, 60], [80, 20, 30], [70, 100, 40], (90,) ]

sorting(t)

TypeError: ignored

In [ ]:
# 39.Sort lists in tuple
def lit(li):
  res=list(map(sorted,li))
  print(res)
li=[[10, 50, 60], [80, 20, 30], [70, 100, 40], (90,) ]
lit(li)

[[10, 50, 60], [20, 30, 80], [40, 70, 100], [90]]

In [ ]:
# 40.Order Tuples using external List
def sorting(t):
  lst=len(t)
  for i in range(0,lst):
    for j in range(0,lst-i-1):
      if (t[j][1]>t[j+1][1]):
        temp=t[j]
        t[j]=t[j+1]
        t[j+1]=temp
  return t
t=[ ('B', 68), ('D', 70), ('A', 67), ('C', 69) ]
sorting(t)

[('A', 67), ('B', 68), ('C', 69), ('D', 70)]

In [ ]:
# 41.Filter Tuples by Kth element from List
def element(li,n,k):
  res=[]
  for i in li:
    if i[k] in n:
      res.append(i)
  print(res)

li=[ ('B', 68), ('D', 70), ('A', 67), ('C', 69) ]
n=[67, 70 , 71, 75]
k=1
element(li,n,k)

[('D', 70), ('A', 67)]

In [ ]:
# 43.program to Tuple List intersection
def inter(l1,l2):
  res=[]
  for i in l1:
    for j in l2:
      if set(i)==set(j):
        res.append(i)
  print(res)

l1=[ (3, 4), (5, 6), (9, 10), (4, 5) ]
l2=[ (5, 4), (3, 4), (6, 5), (9, 11) ]
inter(l1,l2)

[(3, 4), (5, 6), (4, 5)]

In [ ]:
# 44.Intersection in Tuple Records Data
def intersect(l1,l2):
  s1=set(l1)
  s2=set(l2)
  s=s1.intersection(s2)
  n=list(s)
  for i in range(0,len(n)):
    for j in range(0,len(n)-i-1):
       if (n[j][1]>n[j+1][1]):
        temp=n[j]
        n[j]=n[j+1]
        n[j+1]=temp
  return n

l1=[ ('A', 65), ('D', 68), ('B', 66) ]
l2=[ ('D', 68), ('C', 67), ('A', 65) ]
intersect(l1,l2)

[('A', 65), ('D', 68)]

In [ ]:
def uniq(li):
  s={}
  count=0
  for i in li:
    n=tuple(sorted(i))
    if n in s:
      s[n]+=1
    else:
      s[n]=1
  print(len(s))
li=[ (3, 4), (1, 2), (4, 3), (5, 6) ]
uniq(li)

3

In [ ]:
def uniq(li):
  n1=tuple(map(sorted,li))
  n2=list(set(map(tuple,n1)))
  print(n1)
  print(len(n2))


li=[ (3, 4), (1, 2), (4, 3), (5, 6) ]
uniq(li)

([3, 4], [1, 2], [3, 4], [5, 6])
3

In [ ]:
def uniq(li):
  for i in li:
    res=list(set(tuple(sorted(i))))
    print(res)
  print(len(res))


li=[ (3, 4), (1, 2), (4, 3), (5, 6) ]
uniq(li)

[3, 4]
[1, 2]
[3, 4]
[5, 6]
2

**SETS**

In [ ]:
#create a set
li=(i for i in input().split())
s=set(li)
print(type(s))

T True 45 23 56 Joes 45.6
<class 'set'>

In [ ]:
#2 iteration over sets
li=(i for i in input().split())
s=set(li)
for i in s:
  print(i)

20 40 60 80
20
80
40
60

In [ ]:
# 3.add member(s) in a set
li=(i for i in input().split())
s=set(li)
n=input()
s.add(n)
s

cat dog fox
lion

{'cat', 'dog', 'fox', 'lion'}

In [ ]:
# 4.remove item(s) from a given set
li=(i for i in input().split())
s=set(li)
s.pop()         # removes any element by pop()
s

40 20 60 50

{'40', '50', '60'}

In [ ]:
# 5.remove an item from a set if it is present in the set
li=(i for i in input().split())
s=set(li)
n=input()
#s.remove(n)          # remove and discard is used to remove particular element
s.discard(n)
s

20 10 50
10

{'20', '50'}

In [ ]:
# 6.create an intersection of sets
l1=[i for i in input().split()]
s1=set(l1)
s1
l2=[i for i in input().split()]
s2=set(l2)
s2
s=s1.intersection(s2)
print(s)

40 20 70 30
40 50 20 60
{'20', '40'}

In [ ]:
# 7.create a union of sets
l1=[i for i in input().split()]
s1=set(l1)
s1
l2=[i for i in input().split()]
s2=set(l2)
s2
s1.union(s2)
print(s1)

40 20 70 30
40 50 20 60
{'20', '30', '70', '40'}

In [ ]:
# 8.create set difference
l1=[i for i in input().split()]
s1=set(l1)
s1
l2=[i for i in input().split()]
s2=set(l2)
s2
s=s1.difference(s2)
print(s)

80 50 20 70 40 30
50 20 90 40 10 60
{'30', '80', '70'}

In [ ]:
s=s2.difference(s1)
print(s)

{'10', '60', '90'}

In [ ]:
# 9.create a symmetric difference
l1=[i for i in input().split()]
s1=set(l1)
s1
l2=[i for i in input().split()]
s2=set(l2)
s2
s=s1.symmetric_difference(s2)
print(s)

80 50 20 70 40 30
50 20 90 40 10 60
{'60', '90', '30', '80', '10', '70'}

In [ ]:
s=s2.symmetric_difference(s1)
print(s)

{'60', '90', '30', '80', '10', '70'}

In [ ]:
# 10.create a shallow copy of sets
l1=[i for i in input().split()]
s1=set(l1)
l2=[i for i in input().split()]
s2=set(l2)
s1=s2.copy()
print(s1)

tutor joes
joes tutor
{'tutor', 'joes'}

In [ ]:
#11.find the elements in a given set that are not in another set
l1=[i for i in input().split()]
s1=set(l1)
s1
l2=[i for i in input().split()]
s2=set(l2)
s2
s=s1.difference(s2)
print(s)

50 20 70 40 10 60 30
80 50 100 70 90 60
{'20', '30', '10', '40'}

In [ ]:
s=s2.difference(s1)
print(s)

{'100', '80', '90'}

In [ ]:
# 12.check if two given sets have no elements in common
l1=[i for i in input().split()]
s1=set(l1)
l2=[i for i in input().split()]
s2=set(l2)
l3=[i for i in input().split()]
z=set(l3)

if s1.isdisjoint(s2):
  print( True )
else:
  print(False)

if s2.isdisjoint(z):
  print( True )
else:
  print(False)

if s1.isdisjoint(z):
  print( True )
else:
  print(False)

23 8 56 45 78
42 26 55 87
46 87
True
False
True

In [ ]:
# 13.maximum and the minimum value in a set
l1=[i for i in input().split()]
s1=set(l1)
s1
max(s1)

10 50 1 3 4 60

'60'

In [ ]:
min(s1)

'1'

In [ ]:
# 14.remove all elements from a given set
l1=[i for i in input().split()]
s1=set(l1)
s1.clear()

red pink yellow blue

In [ ]:
s1

set()

In [ ]:
# 15.Intersection of two lists
l1=[i for i in input().split()]
s1=set(l1)
s1
l2=[i for i in input().split()]
s2=set(l2)
s2
s=s1.intersection(s2)
print(s)

1 2 3 4 5 6 7 8
11 2 43 48 55 6 76 8
{'6', '8', '2'}

In [ ]:
# 16.Convert String to Set
n=input()
s=set(n)
s

tutor

{'o', 'r', 't', 'u'}

In [ ]:
# 17.Convert Set to String
l1=[i for i in input().split()]
s1=set(l1)
n=str(s1)
n

t u t o r

"{'t', 'o', 'u', 'r'}"

In [ ]:
type(n)

str

In [ ]:
# 20.Convert Set to List
l1=[i for i in input().split()]
s1=set(l1)
n=list(s1)
n

t u t o r

['t', 'o', 'u', 'r']

In [ ]:
type(n)

list

In [ ]:
# 19.Convert Set to Tuple
l1=[i for i in input().split()]
s1=set(l1)
n=tuple(s1)
n

t u t o r

('t', 'o', 'u', 'r')

In [ ]:
type(n)

tuple

In [ ]:
# 20.Convert Tuple to Set
l1=[i for i in input().split()]
n=tuple(s1)
s=set(n)
s

t u t o r

{'o', 'r', 't', 'u'}

In [ ]:
type(s)

set

In [ ]:
# 21.add all its elements into a given set
l1=[i for i in input().split()]
s1=set(l1)                        # set
l2=[i for i in input().split()]   # list
s1.update(l2)                     # adding elements in list and set
print(s1)

10 20 30 40 50
60 70 80 90 100
{'100', '60', '90', '50', '30', '80', '20', '10', '70', '40'}

In [ ]:
# 22.return a new set with unique items from both sets by removing duplicates.
l1=[i for i in input().split()]
s1=set(l1)                        # set
l2=[i for i in input().split()]
s2=set(l2)                        # set
print(s1.union(s2))               #adding 2 sets(set doesnot contain duplicates)

10 20 30 40 50
60 70 80 90 100
{'100', '60', '90', '50', '30', '80', '20', '10', '70', '40'}

In [ ]:
# 23.Check if two sets have any elements in common.
#    If yes, display the common elements
l1=[i for i in input().split()]
s1=set(l1)
l2=[i for i in input().split()]
s2=set(l2)
l3=[i for i in input().split()]
s3=set(l3)
if s1.isdisjoint(s2):
  print("No common elements")
else:
  print(s1.intersection(s2))
if s1.isdisjoint(s3):
  print("No common elements")
else:
  print(s1.intersection(s3))

1 2 3 4 5
5 3 7 8 9
6 7 8 9 10
{'3', '5'}
No common elements

In [ ]:
# 24.checks if one set is subset of other set
l1=[i for i in input().split()]
s1=set(l1)
s1
l2=[i for i in input().split()]
s2=set(l2)
s2
if s1.issubset(s2):
  print(True)
else:
  print(False)
if s2.issubset(s1):
  print(True)
else:
  print(False)

4 5
1 2 3 4 5
True
False

In [ ]:
# 25.Check if a set is a subset, using comparison operators
l1=[i for i in input().split()]
s1=set(l1)
s1
l2=[i for i in input().split()]
s2=set(l2)
s2
if s1<=s2:
  print(True)
else:
  print(False)
if s2<=s1:
  print(True)
else:
  print(False)

a b
a b c
True
False

In [ ]:
# 26.checks if one set is subset of itself
l1=[i for i in input().split()]
s1=set(l1)
s1
if s1.issubset(s1):
  print(True)
else:
  print(False)

1 2 3 4 5
True

In [ ]:
# 27.Check if a specific value exists in a set
l1=[i for i in input().split()]
s1=set(l1)
n=input()
if n in s1:
  print(True)
else:
  print(False)

10 20 30 40 50
30
True

In [ ]:
# 28.Find the union, symmetric difference, and intersection of the two sets.
l1=[i for i in input().split()]
s1=set(l1)
s1
l2=[i for i in input().split()]
s2=set(l2)
s2
print(s1.union(s2))
print(s1.symmetric_difference(s2))
print(s1.intersection(s2))

1 2 3 4 5 67 8 9
6 7 5 9 10 23
{'8', '4', '6', '2', '3', '5', '7', '23', '67', '1', '9', '10'}
{'8', '6', '7', '2', '4', '3', '23', '67', '1', '10'}
{'5', '9'}

In [ ]:
# 29.Create a sequence of numbers using range, then ask the user to enter a number.
#   Inform the user whether or not their number was within the range you specified
a=list(range(0,50))
n=int(input("Enter input:"))
if n in a:
  print("number is within range")
else:
  if n<a[0]:
    print("enter high value")
  else:
    print("enter low value")

Enter input:10
number is within range

In [ ]:
# 30. count number of vowels using sets in given string
s1=input()
v={"a","e","i","o","u"}
count=0
for i in s:
  if i in v:
    count+=1
print(count)

tutor
2

**DICTIONARY**

In [ ]:
# 1.sort (ascending and descending) a dictionary by value
# ascending order
di={1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
myvalues=list(di.values())
myvalues.sort()
sortedic={di[i]:i for i in myvalues}
print(sortedic)

{0: 0, 2: 1, 1: 2, 4: 3, 3: 4}

In [ ]:
#decending order
myvalues.sort(reverse=True)
myvalues
sortedict={di[i]:i for i in myvalues}
print(sortedict)

{3: 4, 4: 3, 1: 2, 2: 1, 0: 0}

In [ ]:
# 2. add a key to a dictionary
dictionary = {"Name" : "Ram" , "Age" : 23}
add_key = {"City" : "Salem"}
key=list(add_key.keys())
value=list(add_key.values())
print(key)
dictionary[key[0]]=value[0]

['City']

In [ ]:
dictionary

{'Name': 'Ram', 'Age': 23, 'City': 'Salem'}

In [ ]:
# 3.concatenate following dictionaries to create a new one
d1 = {"Name" : "Ram" , "Age" : 23}
d2 = {"City" : "Salem", "Gender" : "Male"}
d1.update(d2)
d1

{'Name': 'Ram', 'Age': 23, 'City': 'Salem', 'Gender': 'Male'}

In [ ]:
# 4.check whether a given key already exists in a dictionary
di={'Name' : 'Ram', 'Age' : 23}
if "Name" in di:
  print("Key is Available in the Dictionary")

Key is Available in the Dictionary

In [ ]:
# 5.iterate over dictionaries using for loops
di={"Name" : "Ram" , "Age" : 23 , "City" : "Salem", "Gender" : "Male"}
for x,y in di.items():
  print(x,':',y)

Name : Ram
Age : 23
City : Salem
Gender : Male

In [ ]:
# 6.print a dictionary that contains a number (between 1 and n) in the form (x, x*x).
d={}
n=int(input())
for i in range(1,n+1):
  d[i]=i*i
print(d)

2
{1: 1, 2: 4}

In [ ]:
# 7.print a dictionary where the keys are numbers between 1 and n (both included)
#   and the values are square of keys
d={}
n=int(input())
for i in range(1,n+1):
  d[i]=i*i
print(d)

5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
# 8.merge two Python dictionaries
d1 = {"Name" : "Ram" , "Age" : 23}
d2 = {"City" : "Salem", "Gender" : "Male"}
d1.update(d2)
d1

{'Name': 'Ram', 'Age': 23, 'City': 'Salem', 'Gender': 'Male'}

In [ ]:
# 9.iterate over dictionaries using for loops
di={"Name" : "Ram" , "Age" : 23 , "City" : "Salem", "Gender" : "Male"}
for x,y in di.items():
  print(x,':',y)

Name : Ram
Age : 23
City : Salem
Gender : Male

In [ ]:
# 10.sum all the items in a dictionary
di={1 : 23, 2 : 45, 3 : -17, 4 : 87}
print(sum(di.values()))

138

In [ ]:
# 11.Access dictionary key’s element by index
di={"Name" : "Pooja", "Age" : 23, "Gender" : "Female", "City" : "Salem", "Mark" : 488}
for i in di.keys():
  print(i)

Name
Age
Gender
City
Mark

In [ ]:
# 12.Drop empty Items from a given Dictionary
di={'Name' : 'Pooja', 'Age' : 23, 'Gender' : None, 'Mark' : 488, 'City' : None}
di

{'Name': 'Pooja', 'Age': 23, 'Gender': None, 'Mark': 488, 'City': None}

In [ ]:
di.pop("Gender")
di

{'Name': 'Pooja', 'Age': 23, 'Mark': 488, 'City': None}

In [ ]:
di.pop("City")
di

{'Name': 'Pooja', 'Age': 23, 'Mark': 488}

In [ ]:
# 13.Create a dictionary of keys a, b, and c
d= { 'A' : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
               'Y' : [11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
               'Z' : [21, 22, 23, 24, 25, 26, 27, 28, 29, 30] }
for x,y in d.items():
  print(x,'=',y)

A = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Y = [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
Z = [21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [ ]:
# 14.Match key values in two dictionaries
A = {'Tamil' : 92, 'English' : 56, 'Maths' : 88, 'Sceince' : 97, 'Social' : 89}
B= {'Tamil' : 78, 'English' : 68, 'Maths' : 88, 'Sceince' : 97, 'Social' : 56}
k={}
for k in A:
  if k in B:
    if A[k] == B[k]:
      print ("Present")

Present
Present

In [ ]:
# 14.Match key values in two dictionaries
A = {'Tamil' : 92, 'English' : 56, 'Maths' : 88, 'Sceince' : 97, 'Social' : 89}
B= {'Tamil' : 78, 'English' : 68, 'Maths' : 88, 'Sceince' : 97, 'Social' : 56}
for i in A.items():
  if i in B.items():
    print(i)

('Maths', 88)
('Sceince', 97)

In [ ]:
# 15. Sort Counter by value
di={ 'Tamil': 92, 'Math' : 88, 'Science' : 89, 'Social' : 89, 'English' : 56 }
myvalues=list(di.values())
myvalues.sort(reverse=True)
myvalues
sortedict={di[i]:i for i in myvalues}
print(sortedict)

KeyError: ignored

In [ ]:
# 16.count number of items in a dictionary value that is a list
Dic = { 'M1' : [67,79,90,73,36], 'M2' : [89,67,84], 'M3' : [82,57] }
count=0
for key, value in Dic.items():
  if isinstance(value, list):
    count += len(value)
print(count)

10

In [ ]:
# 17.check multiple keys exists in a dictionary
di= { 'name' : 'Ram', 'age' : 23, 'city' : 'Salem' }
print(di.keys()>={'age','name'})
print(di.keys()>={'city','Salem'})

True
False

In [ ]:
# 18.print a dictionary line by line.
Dict = {  "Sam" : {"M1" : 89, "M2" : 56, "M3" : 89},
       "Suresh" : {"M1" : 49, "M2" : 96, "M3" : 89} }
#for x,y in Dict.items():
  #print(x,':',y)
for a in Dict:
  print(a)
  for b in Dict[a]:
    print (b,":",Dict[a][b])

Sam
M1 : 89
M2 : 56
M3 : 89
Suresh
M1 : 49
M2 : 96
M3 : 89

In [ ]:
# 19.Convert two lists into a dictionary
k = ["One", "Two", "Three", "Four", "Five"]
v = [1, 2, 3, 4, 5]
res=dict(zip(k,v))
print(res)

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5}

In [ ]:
# 20.Merge two Python dictionaries into one
k={"Name" : "Ram" , "Age" : 25 , "City" : "Salem"}
v={"Gender" : "Male" , "Mark" : 422 , "Percent" : 84.4}
k.update(v)
k

{'Name': 'Ram',
 'Age': 25,
 'City': 'Salem',
 'Gender': 'Male',
 'Mark': 422,
 'Percent': 84.4}

In [ ]:
# 22.extracting the keys from a given dictionary
Di = {'Name' : 'Ram', 'Age' : 23, 'City' : 'Salem', 'Gender' : 'Male', 'Mark' : 450}
keys = ["Name", "City", "Mark"]
x={k:Di[k] for k in keys}
print(x)

{'Name': 'Ram', 'City': 'Salem', 'Mark': 450}

In [ ]:
# 23.Delete a list of keys from a dictionary
Di = {"Name" : "Tara", "RollNo" : 130046, "Mark" : 450, "Age" : 16, "Gender" : "Female", "City" : "Salem"}
keys=["Gender", "City"]
Di= {k: Di[k] for k in Di.keys() - keys}
print(Di)

{'Name': 'Tara', 'RollNo': 130046, 'Mark': 450, 'Age': 16}

In [ ]:
# 24.Rename key of a dictionary
di={'Name' : 'Tara', 'RollNo' : 130046, 'Mark' : 458, 'Age' : 16}
di['Mark10']=di.pop('Mark')
di['RegNo']=di.pop('RollNo')
print(di)

{'Name': 'Tara', 'Age': 16, 'Mark10': 458, 'RegNo': 130046}

In [ ]:
# 25.print only keys of a dictionary
Di = {"Name" : "Tara", "RollNo" : 130046, "Mark" : 450, "Age" : 16, "Gender" : "Female", "City" : "Salem"}
for i in Di.keys():
  print(i)

Name
RollNo
Mark
Age
Gender
City

In [ ]:
# 27.print values of dictionary.
Di = {"Name" : "Tara", "RollNo" : 130046, "Mark" : 450, "Age" : 16, "Gender" : "Female", "City" : "Salem"}
for i in Di.values():
  print(i)

Tara
130046
450
16
Female
Salem

In [ ]:
# 1.sort (ascending and descending) a dictionary by value
# ascending order
di= { "m1" : 78 , "m2" : 89 , "m3" : 64 , "m4" : 35 , "m5" : 71 }
myvalues=list(di.values())
myvalues.sort()
sortedic={di[i]:i for i in myvalues}
print(sortedic)

KeyError: ignored

In [ ]:
# 29. maximum and minimum value of dictionary.
di= { "m1" : 78 , "m2" : 89 , "m3" : 64 , "m4" : 35 , "m5" : 71 }
print(max(di.values()))

89

In [ ]:
print(min(di.values()))

35

In [ ]:
# 30.sum all the values of a dictionary.
di={ "m1" : 92 , "m2" : 56 , "m3" : 88 , "m4" : 97 , "m5" : 89 }
print(sum(di.values()))

422