In [ ]:
print("Hello World")

Hello World

In [ ]:
print('Hello World')

Hello World

In [ ]:
#variable
apples=5  #declaring varaiable and assigning value
oranges=6
bananas=7
print(apples+oranges+bananas)

18

In [ ]:
#apples=5
id(apples) #id(variable_name): I will get memory location

137242855424368

In [ ]:
id(oranges)

137242855424400

In [ ]:
#variable
a=3
b= 4.5698
c='Ram'
d="Ram"

In [ ]:
apples=20
print(f'I have bought {apples} apples') #formatting

I have bought 20 apples

In [ ]:
# declare 10 bananas and 6 oranges and print I have bought 10 bananas and 6 oranges
bananas=10
oranges=6
print(f'I have bought {bananas} bananas and {oranges} oranges')

I have bought 10 bananas and 6 oranges

In [ ]:
fruit1, fruit2, fruit3= 'orange','banana','mango'

In [ ]:
fruit1

'orange'

In [ ]:
x=y=z=3

In [ ]:
x

3

In [ ]:
y

3

In [ ]:
z

3

In [ ]:
x='Python'
y='is'
z='Programming'
w='Language'

print(x+' '+y+' '+z+' '+w)

Python is Programming Language

In [ ]:
print(x+y+z+w)

PythonisProgrammingLanguage

In [ ]:
print(x,y,z,w) #Easy method

Python is Programming Language

In [ ]:
x=5
y=10
#Arthemetic Operations
print(x+y)
print(x-y)
print(x*y)
print(x/y)

15
-5
50
0.5

In [ ]:
#declare a variable as 5 and vikram and perform multiplica
x=5
y='vikram'

In [ ]:
print(x+y) #Error

TypeError: ignored

In [ ]:
print(x-y) #Error

TypeError: ignored

In [ ]:
print(x*y) #vikramvikramvikramvikramvikram

vikramvikramvikramvikramvikram

In [ ]:
print(x/y) #Error

TypeError: ignored

Functions

In [ ]:
#function
def multiplication(a,b):
  result = a*b
  #print(result)
  return result

multiplication(5,4)

20

In [ ]:
#write a function that adds three numbers
def summation(a,b,c):
  result = a+b+c
  #print(result)
  return result

summation(5,4,3)

12

In [ ]:
x=4 #int
x=4.5 #float

print (x)

4.5

In [ ]:
x=10
y=20
x,y=y,x
print(x,y)

20 10

In [ ]:
#To check datatype
x='vinay'
y=4.56
z=9
type(x)

str

In [ ]:
type(y)

float

In [ ]:
type(z)

int

In [ ]:
x,y=True,False
type(x)
type(y)

bool

In [ ]:
x=1
y=2.8
z='6'

In [ ]:
#convert x to float
float(x)

1.0

In [ ]:
#convert y to integer
int(y)

2

In [ ]:
#convert x to string
str(x)

'1'

In [ ]:
a=5    #1
b=4    #2
c=3    #3
def summation(a,b,c):    #4
  result = a+b+c #cant be printed
  #print(result)
  return result #cant be printed

print(summation(5,4,3))    #5

12

In [ ]:
x='Python'  #positive indexing and negative indexing

In [ ]:
x[0]

'P'

In [ ]:
x[-3]

'h'

In [ ]:
x='Python'
x[0:4]  #start_position: end_position+1

'Pyth'

In [ ]:
#to access every element in the string: for loop
x='Quality Thought'
for i in x:
  print(i)

Q
u
a
l
i
t
y

T
h
o
u
g
h
t

In [ ]:
len(x)  #length

15

In [ ]:
for i in range(0,len(x)):  #range is keyword in python that creates values between 0 and 14
  print (x[i])  #indexing

Q
u
a
l
i
t
y

T
h
o
u
g
h
t

In [ ]:
#check if woed present in string
x='jack and jill went up the hill'
'up' in x

True

In [ ]:
'down' in x

False

In [ ]:
if 'up' in x:
  print('present')
else:
  print('absent')

present

In [ ]:
b='datascience'
b.upper()

'DATASCIENCE'

In [ ]:
b.lower()

'datascience'

In [ ]:
b.split()

['datascience']

In [ ]:
a='I want to go to banglore'
a.split()

['I', 'want', 'to', 'go', 'to', 'banglore']

In [ ]:
a.split('to')

['I want ', ' go ', ' banglore']

In [ ]:
a.split('go')

['I want to ', ' to banglore']

In [ ]:
a='new'
b='delhi'
a+''+b

'newdelhi'

In [ ]:
a+' '+b

'new delhi'

In [ ]:
#operators
x=10
y=5
x=y  #assignment operator

In [ ]:
print (x)

5

In [ ]:
print (y)

5

In [ ]:
x=10
y=5
x==y  #comparision operator

False

In [ ]:
x>y

True

In [ ]:
#python code to declare 2 variables as 200 and 33 and use if else to print which is greater than
x=200
y=33
if(x>y):
  print('x is greater than y')
else:
  print('y is greater than x')

x is greater than y

In [ ]:
#python code to declare two variables as 'hello' and 15 and type cast it to boolean
x='hello'
y=15
bool(x)

True

In [ ]:
bool(y)

True

In [ ]:
'''
1. Python code to declare a string "Cats come from tiger family"

a. check if Tiger is in sentence
b. convet to upper case
c. convert to lower case
d. split at white spaces
e. you have to check if cats and tiger are present in the sentence print True
f. extract from position 5 to 9 with both negative and positice indeings
g. use for loop to print characters in the steing.
h. length of the string
'''

'\n1. Python code to declare a string "Cats come from tiger family"\n\na. check if Tiger is in sentence\nb. convet to upper case\nc. convert to lower case\nd. split at white spaces\ne. you have to check if cats and tiger are present in the sentence print True\nf. extract from position 5 to 9 with both negative and positice indeings\ng. use for loop to print characters in the steing.\nh. length of the string\n'

In [ ]:
x="Cats come from tiger family"

In [ ]:
'Tiger' in x

False

In [ ]:
x.upper()

'CATS COME FROM TIGER FAMILY'

In [ ]:
x.lower()

'cats come from tiger family'

In [ ]:
x.split()

['Cats', 'come', 'from', 'tiger', 'family']

In [ ]:
if ('cats' in x) and ('tigers' in x):
  print('true')
else:
  print('false')

false

In [ ]:
('cats' in x) and ('tigers' in x)

False

In [ ]:
x[5:9]

'come'

In [ ]:
x[5:10]

'come '

In [ ]:
len(x)

27

In [ ]:
for i in x:
  print(i)

C
a
t
s

c
o
m
e

f
r
o
m

t
i
g
e
r

f
a
m
i
l
y

In [ ]:
x[-19:-23]

''

In [ ]:
x[-22:-17]

'come '

In [ ]:
x[-22:-18]

'come'

In [ ]:
'''
C
a
t
s

c -22
o -21
m -20
e -19
  -18
f -17
r -16
o -15
m -14
   -13
t -12
i -11
g -10
e -9
r -8
 -7
f -6
a -5
m -4
i -3
l -2
y -1
'''

'\nC\na\nt\ns\n\nc -22\no -21\nm -20\ne -19\n  -18\nf -17\nr -16\no -15\nm -14\n   -13\nt -12\ni -11\ng -10\ne -9\nr -8\n -7\nf -6\na -5\nm -4\ni -3\nl -2\ny -1\n'

In [ ]:
'''
1. Write a python program to reverse a string "canvas"
2. Write a python program to count vowels and Consonant in a string : "Rome is city"
3. Write a python program to count number of letters in the steing : "Covid10 is affected
   with SARS virus"
4. Write a python program to print count of numeric, upper, lower and speciall characters in the
   string : "@pyTh)nlobb!Y34"
'''

'\n1. Write a python program to reverse a string "canvas"\n2. Write a python program to count vowels and Consonant in a string : "Rome is city"\n3. Write a python program to count number of letters in the steing : "Covid10 is affected\n   with SARS virus"\n4. Write a python program to print count of numeric, upper, lower and speciall characters in the\n   string : "@pyTh)nlobb!Y34"\n'

In [ ]:

def reverse(x):
  return x[::-1]

y=reverse("canvas")
print(y)

savnac

In [ ]:
x=['a','e','i','o','u']
s=input()
vowels=0
consonants=0
for i in range(0,len(s)):
  if s[i] in x:
    vowels+=1
  else:
    consonants+=1
print("Vowels:",vowels)
print("Consonants:",consonants)

Our
Vowels: 1
Consonants: 2

In [ ]:
s=input()
vowels = 0
consonants = 0

for i in s:
    if(i == 'a' or i == 'e' or i == 'i' or i == 'o' or i == 'u'
       or i == 'A' or i == 'E' or i == 'I' or i == 'O' or i == 'U'):
        vowels = vowels + 1
    else:
        consonants = consonants + 1
print("Vowels:",vowels)
print("Consonants:",consonants)

Out
Vowels: 2
Consonants: 1

In [ ]:
s=input()
count=0
for i in range(0,len(s)):
  count+=1
print(count)

Covid10 is affected    with SARS virus
38

In [ ]:
s=input()
upper=0
lower=0
number=0
special=0
for i in range(0,len(s)):
  if s[i].isupper():
    upper+=1
  elif s[i].islower():
    lower+=1
  elif s[i].isnumeric():
    number+=1
  else:
    special+=1
print("Upper",upper)
print("Lower",lower)
print("Number",number)
print("Special",special)

@pyTh)nlobb!Y34
Upper 2
Lower 8
Number 2
Special 3

In [ ]:
a=[1,2,3]
for i in range(0,len(a)):
  num=a[i]
  perm=a[:i]+a[i+1:]
  print(perm)

[2, 3]
[1, 3]
[1, 2]

In [ ]:
l1=[8,8,12,12,8]
l2=[8,8,8,12,12]

In [ ]:
newl1=[l1[-1]]+l1[:-1]

In [ ]:
for i in range(0,len(l1)):
  if l1[i]==l2[i]:
    print()

In [ ]:
def fn(a):
  x='fantastic'
  print(f"python is {a}")
x='awesome'
fn(x)

python is awesome

In [ ]:
x="awesome"
def fn(a):
  print(f'python is {a}')
fn(x)

python is awesome

In [ ]:
def summul(a,b,c,op):
  if(op==sum):
    x=a+b+c
  if(op==mul):
    x=a*b*c
  return x


#summul(2,3,6,sum)

In [ ]:
def fn(num):
  if(num%2==0):
    print("even")
  else:
    print("Odd")
fn(45)

Odd

In [ ]:
a="hello"
for i in a:
  print(i)

h
e
l
l
o

In [ ]:
for i in range(0,len(a)):
  print(a[i])

h
e
l
l
o

In [ ]:
a= "Hi Guys"
a[:]

'Hi Guys'

In [ ]:
a[3]

'G'

In [ ]:
a[2]

' '

In [ ]:
a[0:6]

'Hi Guy'

In [ ]:
a[0:7]

'Hi Guys'

In [ ]:
a[:7]

'Hi Guys'

In [ ]:
a[-1:]

's'

In [ ]:
a[:-1]

'Hi Guy'

In [ ]:
a="hi"
b="guys"
print(a+b)

higuys

In [ ]:
a="hi"
b="guys"
print (a,b)

hi guys

In [ ]:
def all(x,op):
  if(op==a):
    sum=0
    for i in x:
      sum=sum+i
    return sum
  if(op==m):
    mul=1
    for i in x:
      mul=mul*i
    return mul
  if(op==d):
    div=x[0]
    for i in a[1:]:
      div=div/i
    return div
  if(op==s):
    sub=x[0]
    for i in a[1:]:
      sub=sub-i
    return sub


x=[1,2,4,5]
all(x,a)

12

In [ ]:
def total(x,op):
  if(op==a):
    sum=x[0]
    for i in x[1:]:
      sum=sum+i
    return sum
x=[1,2,4,5]
total(x,a)

12

In [ ]:
for i in range(1,10):
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
a=list(range(0,10))

In [ ]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
sum=0
for i in range(0,len(a)):
  if(i%2==0):
    sum=sum+a[i]

In [ ]:
sum

20

List

In [ ]:
l1=[i for i in range(20,40)]
print(l1)

[20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39]

In [ ]:
type(l1)

list

In [ ]:
l2=[i for i in range(20,40,4)]
l2

[20, 24, 28, 32, 36]

In [ ]:
a=('abs','bdg','bgf')
b=list(reversed(a))
print(b)

['bgf', 'bdg', 'abs']

In [ ]:
a=[1,2,3]
a.append(4)
print (a)

[1, 2, 3, 4]

In [ ]:
list=['apple','tomato','orange']
list[1]

'tomato'

In [ ]:
list=['apple','tomato','orange']
list[1]='cherry'

In [ ]:
li=[i for i in input().split()]
for i in li:
  print(i)

mango cherry banana orange
mango
cherry
banana
orange

In [ ]:
li=[i for i in input().split()]
for i in li:
  if i==i:
    print(i)

mango cherry banana orange
mango
cherry
banana
orange

In [ ]:
li=[i for i in input().split()]
for i in range(0,len(li)):
  print(li[i])

mango cherry banana orange
mango
cherry
banana
orange

In [ ]:
li=[i for i in input().split()]
i=0
while(i<len(li)):
  print(li[i])
  i=i+1

mango cherry banana orange
mango
cherry
banana
orange

In [ ]:
li=[i for i in input().split()]
for i in range(0,len(li)):
  print(len(li[i]))

mango cherry banana orange
5
6
6
6

In [ ]:
#check a letter a present in list
li=[i for i in input().split()]
n=[]
for i in li:
  if 'a' in i:
    n.append(i)
print(n)

mango cherry banana orange
['mango', 'banana', 'orange']

In [ ]:
#  (or)
li=[i for i in li if 'a' in i]
li

['mango', 'banana', 'orange']

In [ ]:
li=[int(i) for i in input().split()]
li.sort()
li

100 30 50 20

[20, 30, 50, 100]

In [ ]:
li.sort(reverse=True)
li

[100, 50, 30, 20]

In [ ]:
###
def func(n):
  i=n-50
  if i<0:
    i*=-1
  return i

func(10)

In [ ]:
li.sort(key=func)
li

[50, 30, 20, 100]

In [ ]:
l1=[int(i) for i in input().split()]
l2=l1.copy()
l2

20 30 50 60

[20, 30, 50, 60]

In [ ]:
l2[2]=80
l2

[20, 30, 80, 60]

In [ ]:
#add
l1=[i for i in input().split()]
l2=[i for i in input().split()]
l1+l2

a b c
1 2 3

['a', 'b', 'c', '1', '2', '3']

In [ ]:
#   (or)
l1=[i for i in input().split()]
l2=[i for i in input().split()]
for i in l2:
  l1.append(i)
print(l1)

a b c
1 2 3
['a', 'b', 'c', '1', '2', '3']

In [ ]:
#duplicates list
x=[int(i) for i in input().split()]
y=[]    #nos
z=[]    #duplicates
for i in x:
  if i not in y:
    y.append(i)
  else:
    z.append(i)
print (z)

1 2 3 4 2 1
[2, 1]

In [ ]:
'''
Python code to create a list of 10 numbers from 0 to 9
i. print even numbers
ii. print odd numbers
iii. append 10 to even numbers and 11 to odd numbers

'''

In [ ]:
x=[]
for i in range(0,10):
  x.append(i)
print(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
even=[]
odd=[]
for i in x:
  if(i%2==0):
    even.append(i)
  else:
    odd.append(i)
print(even)
print(odd)

[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]

In [ ]:
even.append(10)
even

[0, 2, 4, 6, 8, 10]

In [ ]:
odd.append(11)
odd

[1, 3, 5, 7, 9, 11]

In [ ]:
'''
1.
name = ['Snowball', 'Chewy', 'Bubbles', 'Gruff']
animal = ['Cat', 'Dog', 'Fish', 'Goat']
age = [1, 2, 2, 6]

Snowball cat is 1

'''

In [ ]:
name = ['Snowball', 'Chewy', 'Bubbles', 'Gruff']
animal = ['Cat', 'Dog', 'Fish', 'Goat']
age = [1, 2, 2, 6]

for  x,y,z in zip(name,animal,age):
  print(f'{x} {y} is {z}')

Snowball Cat is 1
Chewy Dog is 2
Bubbles Fish is 2
Gruff Goat is 6

In [ ]:
#Reverse
x = [100, 200, 300, 400, 500]
x[::-1]

[100, 200, 300, 400]

In [ ]:
'''
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]

write a python code to concatenate two list based on index
My name is Kelly
'''

In [ ]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
a=[]
for i,j in zip(list1,list2):
  a.append(i+j)
" ".join(a)

'My name is Kelly'

In [ ]:
'''
Python code

list1 = ["Hello","take"]
list2 = ["Dear","son"]

['Hello Dear', 'Hello son', 'take Dear', 'take son']

'''

In [ ]:
a=[]
list1 = ["Hello","take"]
list2 = ["Dear","son"]
for i in list1:
  for j in list2:
    k=i+" "+j
    a.append(k)
print(a)

['Hello Dear', 'Hello son', 'take Dear', 'take son']

In [ ]:
'''
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
Output:
10 400
20 300
30 200
40 100
'''

In [ ]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
l2=list2[::-1]
l2

[400, 300, 200, 100]

In [ ]:
list1 = [10, 20, 30, 40]
#list2 = [100, 200, 300, 400]
l2=[400, 300, 200, 100]
for i,j in zip(list1,l2):
  print(i,j)

10 400
20 300
30 200
40 100

In [ ]:
'''
1. Remove empty strings from the list of strings list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
2. list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
           [10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40] append 7000 to the list
3.  Replace lists item with new value if found
    You have given a Python list. Write a program to find value 20 in the list,
    and if it is present, replace it with 200. Only update the first occurrence of an item.
4.  Remove all occurrences of a specific item from a list.
Given a Python list, write a program to remove all occurrences of item 20
'''

In [ ]:
li=[str(i) for i in input().split()]
for i in li:
    if(len(i)==0):
        li.remove("")
print(li)

In [ ]:
def emp(li):
  for i in li:
    if(len(i)==0):
        li.remove("")
  print(li)

li=["mick", "", "rick"]
emp(li)

['mick', 'rick']

In [ ]:
def ads(li):
  #for i in range(0,len(li)):
    #for j in i:
  li[2][2].append(7000)
print(li)

li=[10,20,[300,400,[5000,6000],500],30,40]
ads(li)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [ ]:
li=[int(i) for i in input().split()]
for i in range(0,len(li)):
  if(li[i]==20):
    n=200
    li[i]=n
    break
print(li)

10 20 30 20
[10, 200, 30, 20]

In [ ]:
li=[int(i) for i in input().split()]
for i in range(0,len(li)-1):
  if(li[i]==20):
    li.remove(li[i])
print(li)

10 20 30 20
[10, 30]

Tuples

In [ ]:
#tuples will be declared in("x")

In [ ]:
thistuple=("apple","banana","cherry","apple","cherry")
len(thistuple)

5

In [ ]:
type(thistuple)

tuple

In [ ]:
#tuple can be string numbers and booleans and numbers
t1=("apple","banana","cherry")
t2=(True,False,True)
t3=(1,2,3,4)
t4=("apple",True,5)

In [ ]:
t=(1,2,3,4)
type(t)

tuple

In [ ]:
thistuple=("apple","banana","cherry","apple","cherry")
thistuple[0]

'apple'

In [ ]:
thistuple[-1]

'cherry'

In [ ]:
thistuple[1:]

('banana', 'cherry', 'apple', 'cherry')

In [ ]:
if "apple" in thistuple:
  print("present")

present

In [ ]:
thistuple

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [ ]:
#in tuple values can not be added or remove
thistuple.append("orange")

AttributeError: ignored

In [ ]:
#instead conbert tuple into list and then add  or remove value and convert list to tuple
li=list(thistuple)
li.append("orange")
thistuple=tuple(li)

In [ ]:
thistuple

('apple', 'banana', 'cherry', 'apple', 'cherry', 'orange')

In [ ]:
tup1=("apple","banana","orange")
for i in tup1:
  print(i)

apple
banana
orange

In [ ]:
#   (or)
tup1=("apple","banana","orange")
for i in range(0,len(tup1)):
  print(tup1[i])

apple
banana
orange

In [ ]:
#   (or)
i=0
while(i<len(tup1)):
  print(tup1[i])
  i=i+1

apple
banana
orange

In [ ]:
# length
i=0
while(i<len(tup1)):
  print(len(tup1[i]))
  i=i+1

In [ ]:
li=[1,2,34,5]
for i in li:
  n=li.count(i)
print(n)

1

In [ ]:
a=['Tutor', 'joes', 'Computer', 'Education']
a[::-1]

In [ ]:
a=['Tutor', 'joes', 'Computer', 'Education']
for i in a:
  n=i[::-1]
  print(n)

rotuT
seoj
retupmoC
noitacudE

In [ ]:
res = [i[::-1] for i in a]

In [ ]:
print (res)

['rotuT', 'seoj', 'retupmoC', 'noitacudE']

sets

In [ ]:
myset={"orange","banana","cherry"}

In [ ]:
'''
unordered
unchanged
no duplicates
canot be accesed with index
'''

'\nunordered\nunchanged\ncanot be accesed with index\n'

In [ ]:
myset={"cococnut","mango","orange"}
mytup=("cococnut","mango","orange")
mylist=["cococnut","mango","orange"]

print(myset)
print(mytup)
print(mylist)

{'cococnut', 'orange', 'mango'}
('cococnut', 'mango', 'orange')
['cococnut', 'mango', 'orange']

In [ ]:
myset[0]

TypeError: ignored

In [ ]:
myset={"orange","banana","cherry","orange"}
myset

{'banana', 'cherry', 'orange'}

In [ ]:
myset={"orange","banana","cherry",True,1,2}  #sets assume that true is same as 1
myset

{2, True, 'banana', 'cherry', 'orange'}

In [ ]:
myset={"orange","banana","cherry"}
len(myset)

3

In [ ]:
type(myset)

set

In [ ]:
myset={"orange","banana","cherry"}
myset={1,5,9,6,4}
myset={True,False}
#or combination of those

In [ ]:
#set you cannot delete the elements but you can add elements
myset={"orange","banana","cherry"}
myset.add("apple")
myset

{'apple', 'banana', 'cherry', 'orange'}

In [ ]:
#to combine two sets
myset1={"orange","banana","cherry"}
myset2={1,5,9,6,4}
myset1.union(myset2)

{1, 4, 5, 6, 9, 'banana', 'cherry', 'orange'}

In [ ]:
#to combine two sets
myset1={"orange","banana","cherry"}
myset2={1,5,9,6,4}
myset1.update(myset2)
myset1

{1, 4, 5, 6, 9, 'banana', 'cherry', 'orange'}

In [ ]:
set1={"a","b","c"}

In [ ]:
"a" in set1

True

In [ ]:
if "a" in set1:
  print("present")

present

In [ ]:
#for 1-1 comparision we use zip

In [ ]:
#common in two sets
set1={"green","blue"}
set2={"yellow","blue"}
l=[]
for i in set1:
  for j in set2:
    if i==j:
      l.append(i)
print(l)

['blue']

In [ ]:
set(l)

{'blue'}

In [ ]:
set1={"green","blue"}
set2={"yellow","blue"}
set1.difference(set2)

{'green'}

In [ ]:
set1={52,63,97,1,69,3,2}
max(set1)

97

In [ ]:
min(set1)

1

dictionaries

In [ ]:
thisdict={"brand":"ford","model":"mustang","year":1964}
'''
{}
key:value(pairs)
to access elements in dict we use keys not by indexing
'''

'\n{}\nkey:value(pairs)\nto access elements in dict we use keys not by indexing\n'

In [ ]:
thisdict

{'brand': 'ford', 'model': 'mustang', 'year': 1964}

In [ ]:
thisdict['year']

1964

In [ ]:
len(thisdict)

3

In [ ]:
thisdict={
    "brand":"ford",
    "electric":False,
    "year":1964,
    "colors":["red","white"]
}

In [ ]:
thisdict.keys()   # to get list of keys

dict_keys(['brand', 'electric', 'year', 'colors'])

In [ ]:
thisdict

{'brand': 'ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white']}

In [ ]:
thisdict.values()

dict_values(['ford', False, 1964, ['red', 'white']])

In [ ]:
thisdict.items()    # gives tuples

dict_items([('brand', 'ford'), ('electric', False), ('year', 1964), ('colors', ['red', 'white'])])

In [ ]:
'year' in thisdict   # checks only if there is a matching key present in list

True

In [ ]:
False in thisdict

False

In [ ]:
False in thisdict.values()     # checks only if there is a matching value present in list

True

In [ ]:
# modifying values
thisdict['year']=2023

In [ ]:
thisdict

{'brand': 'ford', 'electric': False, 'year': 2023, 'colors': ['red', 'white']}

In [ ]:
thisdict.pop('year')   #removes value of the key

2023

In [ ]:
for x in thisdict:
  print(x)

brand
electric
colors

In [ ]:
for x in thisdict:
  print(thisdict[x])

ford
False
['red', 'white']

In [ ]:
for x in thisdict.values():
  print(x)

ford
False
['red', 'white']

In [ ]:
for x in thisdict.keys():
  print(x)

brand
electric
colors

In [ ]:
for x,y in thisdict.items():          # to access both keys and values
  print(f'Key: {x}')
  print(f'Values: {y}')

Key: brand
Values: ford
Key: electric
Values: False
Key: colors
Values: ['red', 'white']

In [ ]:
#nested dictionaries           # dictionaries within dictionaries
myfamily={
    "child1":{
        "name":"emil",
        "year":"2004",
    },
    "child2":{
        "name":"roby",
        "year":"2007",
    },
     "child3":{
        "name":"linus",
        "year":"2011",
    },
}

In [ ]:
myfamily

{'child1': {'name': 'emil', 'year': '2004'},
 'child2': {'name': 'roby', 'year': '2007'},
 'child3': {'name': 'linus', 'year': '2011'}}

In [ ]:
myfamily.keys()

dict_keys(['child1', 'child2', 'child3'])

In [ ]:
myfamily.values()

dict_values([{'name': 'emil', 'year': '2004'}, {'name': 'roby', 'year': '2007'}, {'name': 'linus', 'year': '2011'}])

In [ ]:
myfamily['child1']

{'name': 'emil', 'year': '2004'}

In [ ]:
myfamily['child1']['name']

'emil'

In [ ]:
'''
write a python script to sort (ascending and descending) a dictionary by value
{1:2,3:4,4:3,2:1,0:0}
'''
di={1:2,3:4,4:3,2:1,0:0}

In [ ]:
'''

2
4
3
1
0

In [ ]:
d1={"name":"ram","age":23}
d2={"city":"saleem"}
d1.update(d2)

In [ ]:
print(d1)

{'name': 'ram', 'age': 23, 'city': 'saleem'}

In [ ]:
d2.keys()

dict_keys(['city'])

In [ ]:
key=list(d2.keys())
value=list(d2.values())
print(key)
d1[key[0]]=value[0]

['city']

In [ ]:
d1= {"ram":10,"rahul":20,"john":30,"john":40} #remove duplicate values and print updated value
d1

{'ram': 10, 'rahul': 20, 'john': 40}

In [ ]:
for k,v in d1.items():
  print(k)
  print(v)

ram
10
rahul
20
john
40

In [ ]:
thisdict={"marks_5_unjects":[24,68,94,56],"average":0,"rank":1}

In [ ]:
for k,v in thisdict.items():
  if k == "marks_5_unjects":
    sum=0
    for i in v:
      sum+=i
    av = sum/len(v)
  if k == "average":
    thisdict[k] =  av
print(thisdict)

{'marks_5_unjects': [24, 68, 94, 56], 'average': 60.5, 'rank': 1}

In [ ]:
thisdict["height"]=156
thisdict

{'marks_5_unjects': [24, 68, 94, 56],
 'average': 60.5,
 'rank': 1,
 'height': 156}

In [ ]:
dict1={"ram":14,"john":67,"ravi":42,"vijay":34}
for k,v in dict1.items():
  if v>40 and v<80:
    print(k)

john
ravi