In [ ]:
def function():
  print("Hello")
function()

Hello

In [ ]:
def fn(first):
  print(first+"Reddy")
fn("Sneha ")
fn("Sadvika ")

Sneha Reddy
Sadvika Reddy

In [ ]:
x=-3
abs(x)  #absolute number

3

'''
Data types in python: lists,tuple,set and dictionaries

In [ ]:
'''
Lists:
declared in [] seperated by ,
ued to store multiple values in single variable
duplicates can be allowed
mutable i.e can be changed
methods that can be performed in lists are append(),insert(),extend(),copy(),list(),reverse(),sort(),join(),remove(),pop(),del(),clear(),index(),isupper(),islower(),split(),count()

In [ ]:
x,y=[int(i) for i in input().split()]
print("{}{}".format(x,y))

4 5
45

In [ ]:
x,y=[int(i) for i in input().split()]
print("x={} and y={}".format(x,y))

4 5
x=4 and y=5

In [ ]:
#(or)
a,b,c=[(i) for i in input().split()]
print("{1} {0} {2}".format(a,b,c))

hi hello bye
hello hi bye

In [ ]:
#(or)
a,b,c=[(i) for i in input().split()]
print("{r} {s} {l}".format(r=c,s=b,l=a))

laxman sita ram
ram sita laxman

In [ ]:
#copying list
li=[i for i in input().split()]
c=li.copy()
print(c)

a b c
['a', 'b', 'c']

In [ ]:
#sorting
li=[i for i in input().split()]
li.sort()
print(li)

50 10 70 30 90 20
['10', '20', '30', '50', '70', '90']

In [ ]:
1#all : if every element in list is true then prints true
l1=[]
l2=[]
for i in range(0,21):
  l1.append(4*i)
for i in range(0,20):
  l2.append(l1[i]%5==1)
print(all(l2))

False

In [ ]:
#any : if any one of the element is true in list then prints true
l1=[]
l2=[]
for i in range(0,21):
  l1.append(4*i)
for i in range(0,20):
  l2.append(l1[i]%5==1)
print(any(l2))

True

In [ ]:
#using join and reverse
n=input()
p="".join(reversed(n))
print(p)
# (or)
#print("".join(reversed(n)))

hi
ih

In [ ]:
#(or)
#by using function
def reverse(n):
  n="".join(reversed(n))
  return n
n="hello"
reverse(n)

'olleh'

In [ ]:
# reversing of string without using join
n=input()
print(n[::-1])

hi
ih

In [ ]:
#(or)
#by using function
def reverse(n):
  n=n[::-1]
  return n
n="hello"
reverse(n)

'olleh'

In [ ]:
n=input()
if len(n)==0:
  print(n)
else:
  print(reverse(n[1:]+n[0]))

hello
holle

In [ ]:
#reverse of a string
n=(input())
rev=list(reversed(n))
print (rev)

bf145fx
['x', 'f', '5', '4', '1', 'f', 'b']

In [ ]:
#reverse of a list
li=[(i) for i in input().split()]
li.reverse()
print (li)

5 4
['4', '5']

In [ ]:
#deleting a element cannot be performed instead we can use slice to do
#slice for deletion
n="hello"
p=n[0:2]+n[3:]
print(p)

helo

In [ ]:
#delete can be performed with lists
li=[int(i) for i in input().split()]
del li[1:2]
li

1 2 3 6 5

[1, 3, 6, 5]

In [ ]:
#inserting elements in list using insert()
li=[1,2,3,4]
li.insert(3,5)#(index,value)
li.insert(4,"hi")
print(li)

[1, 2, 3, 5, 'hi', 4]

In [ ]:
#replacing 2 values of list by insert()
li=[int(i) for i in input().split()]
l=[]
for i in li:
  l.insert(0,i)  # in place of 0(index) the last value will be printed
print(l)

10 20 30 40
[40, 30, 20, 10]

In [ ]:
#for extending the list by adding elements at once
li=[1,5,7,6]
li.extend([3,"hi"])
print(li)

[1, 5, 7, 6, 3, 'hi']

In [ ]:
#inserting elements at the last of list
li=[1,5,7,6]
li.insert(4,5)
print (li)

[1, 5, 7, 6, 5]

In [ ]:
#removing elements from list
li=[4,5,8,9]
li.remove(5) #value
print(li)

[4, 8, 9]

In [ ]:
#removing even elements from list
li=[5,7,6,9,4,3,8,1,2]
for i in li:
  if(i%2==0):
    li.remove(i) #value
print(li)

[5, 7, 9, 3, 1]

In [ ]:
#removing elemnts by value
li=[int(i) for i in input().split()] #list
n=[int(i) for i in input().split()] #value
for i in n:
  li.remove(i)
print(li)

1 5 3 4
3
[1, 5, 4]

In [ ]:
#remove elements by using pop
li=[4,5,8,9]
li.pop(2) #index
print(li)

[4, 5, 9]

In [ ]:
# to clear all the elements in list we use pop ()
li=[int(i) for i in input().split()]
while(len(li)!=0):
  li.pop()
print(li)

1 2 3 6
[]

In [ ]:
#clear elements in list using slice
li=[int(i) for i in input().split()]
print(li[:0])

1 4 5 6
[]

In [ ]:
#removing elemnts by index in pop
li=[int(i) for i in input().split()] #list
n=[int(i) for i in input().split()] #index
for i in n:
  li.pop(i)
print(li)

1 4 5 3
2
[1, 4, 3]

In [ ]:
#print elements between 2 numbers
def create(l1,l2):
  return [i for i in range(l1,l2+1)]
l1,l2=1,9
print(create(l1,l2))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#print elements between 2 numbers
def create(l1,l2,n):
  if l1==l2+1:
    return n
  else:
    n.append(l1)
    return create(l1+1,l2,n)
l1,l2=1,9
print(create(l1,l2,[]))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#print index and value of an element in list
li=[int(i) for i in input().split()]
print([list((i,li[i]))for i in range(len(li))])

1 2 5 6
[[0, 1], [1, 2], [2, 5], [3, 6]]

In [ ]:
#print index and value of an element in list
li=[(i) for i in input().split()]
for index,value in zip(range(len(li)),li):
  print(index,value)

1 4 5 6
0 1
1 4
2 5
3 6

In [ ]:
#count number of elements in list
li=[int(i) for i in input().split()]
c=0
for i in li:
  c=c+1
print(c)

1 5 9 3
4

In [ ]:
#count of a particular element in the list
li=[int(i) for i in input().split()]
n=int(input())
for i in li:
  x=li.count(n)
print(x)

2 5 6 8 3 4 9 5
5
2

In [ ]:
#find the element in list
li=[(i) for i in input().split()]
n=(input())
flag=False
for i in li:
  if i.find(n)==0:
    flag=True
print(flag)

2 3 5 6
2
True

In [ ]:
# to find the index of a element in list
li=[(i) for i in input().split()]
n=(input())
for i in li:
  if i.find(n)==0:
    print(i.index(n))

2 3 5 6
2
0

In [ ]:
'''
Tuple
declared in () seperated by ,
same like tuple but if once declared cannot be modified again
used to store multiple values in single variable
faster than list
allows duplicates
immutable i.e cannot be changed
methods that can be performed in tuple are count(),index(),del()
'''

In [ ]:
#declaration of tuple
li=[i for i in input().split()]
t=tuple(li)
t

orange yellow

('orange', 'yellow')

In [ ]:
li=[i for i in input().split()]
t=tuple(li)
t
for i in t:
  print(i)

2 5 6 3
2
5
6
3

In [ ]:
li=[i for i in input().split()]
t=tuple(li)
t
for i in range(0,len(t)):
  print(t[i])

5 6 9 8 3
5
6
9
8
3

In [ ]:
li=[i for i in input().split()]
t=tuple(li)
i=0
while i<len(t):
  print(t[i])
  i+=1

2 5 7
2
5
7

In [ ]:
#indexing
t[1]

'2'

In [ ]:
t[-1]

'5'

In [ ]:
t[:]

('1', '2', '3', '5')

In [ ]:
#check if element is present in tuple or not
li=[i for i in input().split()]
n=(input())
t=tuple(li)
t
for i in t:
  if n in i:
    print ("present")

2 3 5 6
2
present
no
no
no

In [ ]:
#add elements in tuple is not possible but adding tuples can be done
#adding elements in tuple by converting them into list and then list is converted into tuple
li=[i for i in input().split()]
n=(input())
li.append(n)
t=tuple(li)
t

5 6 8 9
2

('5', '6', '8', '9', '2')

In [ ]:
#adding 2 tuples
l1=[i for i in input().split()]
t1=tuple(l1)
t1
l2=[i for i in input().split()]
t2=tuple(l2)
t2
print (t1+t2)

orange yellow
blue green
('orange', 'yellow', 'blue', 'green')

In [ ]:
#multiplying tuple : tuple should be multiplied with an integer
li=[i for i in input().split()]
t=tuple(li)
t
n=int(input())
print(t*n)

blue green
2
('blue', 'green', 'blue', 'green')

In [ ]:
#removing elements in tuple is not possible but deleting tuple can be done
#removing elements in tuple by converting them into list and then list is converted into tuple
li=[i for i in input().split()]
n=(input())
li.remove(n)
t=tuple(li)
t

orange banana cherry grapes
grapes

('orange', 'banana', 'cherry')

In [ ]:
#deleting tuple
li=[i for i in input().split()]
t=tuple(li)
t

4 58 9

('4', '58', '9')

In [ ]:
del t

In [ ]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [ ]:
#unpacking
li=[i for i in input().split()]
t=tuple(li)
t

a=input()
b=input()
c=input()

(a,b,c)=t

print(a)
print(b)
print(c)

apple banana cherry
green
blue
yellow
apple
banana
cherry

In [ ]:
#unpacking using *
li=[i for i in input().split()]
t=tuple(li)
t

a=input()
b=input()
c=input()

(a,b,*c)=t

print(a)
print(b)
print(c)

apple banana cherry orange grapes
green
blue
yellow
apple
banana
['cherry', 'orange', 'grapes']

In [ ]:
'''
Sets:
declared with {} seperated by ,
used to store multiple items in single variable
No duplicate values
unchangable( cannot remove or add elements)
unordered and unindexed(doesnot follow any order so indexing cannot be possible)
methods that can be performed in sets are:add(),clear(),copy(),difference(),difference_update(),union(),update(),discard(),remove(),pop(),intersection(),intersection_update(),isdisjoint(),issubset(),issuperset(),symmetric difference(),symmetric_difference_update(),max(),min()

In [ ]:
myset={"orange","banana","cherry",True,1,2}  #sets assume that true is same as 1
myset

{2, True, 'banana', 'cherry', 'orange'}

In [ ]:
li=[i for i in input().split()]
s=set(li)
s

5 8 7 1 2

{'1', '2', '5', '7', '8'}

In [ ]:
li=[i for i in input().split()]
s=set(li)
s
for i in s:
  print(i)     # gets output will not be in the way we give input bcz in sets indexing is not possible

2 5 7 1 6
7
6
5
2
1

In [ ]:
# copy of a set
li=[i for i in input().split()]
s=set(li)
print(s.copy())

a b c
{'b', 'a', 'c'}

In [ ]:
#Once a set is created, you cannot change its items, but you can add new items
# adding elements in set by using add()
li=[i for i in input().split()]
s=set(li)
n=input()
s.add(n)
print(s)  # n can be printed anywhere in the set

1 5 9 3 7
2
{'7', '5', '9', '2', '3', '1'}

In [ ]:
#To add items from another set into the current set, use the update() method
# adding 2 sets by using update()
l1=[i for i in input().split()]
s1=set(l1)
l2=[i for i in input().split()]
s2=set(l2)
s1.update(s2)           # adding 2 sets
print(s1)

orange apple
banana cherry
{'orange', 'cherry', 'apple', 'banana'}

In [ ]:
print(s2)

{'cherry', 'banana'}

In [ ]:
# adding 1 set and 1 list by using update()
l1=[i for i in input().split()]
s1=set(l1)                        # set
l2=[i for i in input().split()]   # list
s1.update(l2)                     # adding elements in list and set
print(s1)

orange yellow
blue green
{'orange', 'yellow', 'blue', 'green'}

In [ ]:
# adding 1 set and 1 tuple by using update()
l1=[i for i in input().split()]
s=set(l1)                        # set

l2=[i for i in input().split()]  # tuple
t=tuple(l2)

s.update(t)                      # adding elements in tuple and set
print(s)

apple banana
orange cherry
{'orange', 'cherry', 'apple', 'banana'}

In [ ]:
# adding 2 sets by using union()
l1=[i for i in input().split()]
s1=set(l1)
s1
l2=[i for i in input().split()]
s2=set(l2)
s2
print (s1.union(s2))

a b c
1 2 3
{'b', '2', 'c', 'a', '3', '1'}

In [ ]:
# adding 2 sets and printing the duplicate element
l1=[i for i in input().split()]
s1=set(l1)
s1
l2=[i for i in input().split()]
s2=set(l2)
s2
s=s1.intersection(s2)
print(s)

a b c
0 1 a
{'a'}

In [ ]:
# adding 2 sets and printing the duplicate element
l1=[i for i in input().split()]
s1=set(l1)
s1
l2=[i for i in input().split()]
s2=set(l2)
s2
s1.intersection_update(s2)      # in update s1 will have values of s2
print(s1)

a b c
0 1 a
{'a'}

In [ ]:
# adding 2 sets and removing the duplicate element
l1=[i for i in input().split()]
s1=set(l1)
s1
l2=[i for i in input().split()]
s2=set(l2)
s2
s=s1.symmetric_difference(s2)
print(s)

a b c
0 1 a
{'b', 'c', '0', '1'}

In [ ]:
# adding 2 sets and removing the duplicate element
l1=[i for i in input().split()]
s1=set(l1)
s1
l2=[i for i in input().split()]
s2=set(l2)
s2
s1.symmetric_difference_update(s2)      #in update s1 will have values of s2
print(s1)

a b c
0 1 a
{'c', '0', 'b', '1'}

In [ ]:
# deleting a set
li=[i for i in input().split()]
s=set(li)
x=s.clear()
print(x)

a b v
None

In [ ]:
#removing element from set by using remove()
li=[i for i in input().split()]
s=set(li)
n=input()
s.remove(n)
print(s)

apple banana cherry orange
orange
{'cherry', 'apple', 'banana'}

In [ ]:
#removing element from set by using discard()
li=[i for i in input().split()]
s=set(li)
n=input()
s.discard(n)
print(s)

apple banana cherry orange
orange
{'cherry', 'apple', 'banana'}

In [ ]:
#removing element from set by using pop()
li=[i for i in input().split()]
s=set(li)
x=s.pop()
print(x)      # the element that is being removed

apple banana cherry orange
orange

In [ ]:
print(s)    # output after removing any one of the element from the list

{'cherry', 'apple', 'banana'}

In [ ]:
# checks if one set is subset of other set
l1=[i for i in input().split()]
s1=set(l1)
s1
l2=[i for i in input().split()]
s2=set(l2)
s2
if s1.issubset(s2):
  print("Yes")
else:
  print("No")

a b c
a b c d e f
Yes

In [ ]:
# checks if one set is superset of other set
l1=[i for i in input().split()]
s1=set(l1)
s1
l2=[i for i in input().split()]
s2=set(l2)
s2
if s1.issuperset(s2):
  print("Yes")
else:
  print("No")

a b c d e f
a b c
Yes

In [ ]:
#checks if two sets have common elements or not by using isdisjoint()
l1=[i for i in input().split()]
s1=set(l1)
s1
l2=[i for i in input().split()]
s2=set(l2)
s2
if s1.isdisjoint(s2):
  print("Yes")
else:
  print("No")

a b c d
1 2 3 4
Yes

In [ ]:
# comparing 2 sets and removing the common element and prints the value of 1 set
l1=[i for i in input().split()]
s1=set(l1)
s1
l2=[i for i in input().split()]
s2=set(l2)
s2
s1.difference_update(s2)   #in update s1 will have values of s2
print(s1)

a b c
0 1 a
{'b', 'c'}

In [ ]:
s2.difference_update(s1)   #in update s1 will have values of s2
print(s2)

{'0', '1'}

In [ ]:
# comparing 2 sets and removing the common element and prints the value of 1 set
l1=[i for i in input().split()]
s1=set(l1)
s1
l2=[i for i in input().split()]
s2=set(l2)
s2
s=s1.difference(s2)
print(s)

a b c
0 1 a
{'b', 'c'}

In [ ]:
s=s2.difference(s1)
print(s)

{'0', '1'}

In [ ]:
#finding max number
l1=[i for i in input().split()]
s1=set(l1)
s1
max(s1)

20 40 30 60

'60'

In [ ]:
#finding min number
l1=[i for i in input().split()]
s1=set(l1)
s1
min(s1)

20 40 30 60

'20'

**DICTONARIES**

In [ ]:
'''
Dictionaries:
{}
used to store key : value pairs
oredered, changable but not duplicates
reffered using key name
values can be of any datatype
indexing and slicing not applicable
methods that can be performed in dictionaries are: clear(),copy(),fromkeys(),get(),items(),keys(),pop(),popitem(),setdefault(),update(),values()
'''

In [ ]:
#creation
d={}
while(True):
  n=(input())
  if n.lower()=='q':   # quits
    break
  key,value=n.split(':')    # splits input into keys and values
  d[key.strip()] = value.strip()    #add key value pairs to dict
print(d)

name:anu
age:20
city:hyd
q
{'name': 'anu', 'age': '20', 'city': 'hyd'}

In [ ]:
#Converting list into dictionary
def con(li):
  d={}
  d=dict(li)
  print(d)
li=[(1, 'Geeks'), (2, 'For')]
con(li)

{1: 'Geeks', 2: 'For'}

In [ ]:
#creating empty dictionary
d={}
#(or)
d=dict()

In [ ]:
#creating dictionary
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
#(or)
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

In [ ]:
#copy()
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
mydict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
#(or) by using dict()
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

In [ ]:
x=thisdict.get("model")
x

'Mustang'

In [ ]:
#duplicates are not allowed
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [ ]:
print(len(thisdict))

3

In [ ]:
# data items(values) are of any datatype
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

In [ ]:
print(type(thisdict))

<class 'dict'>

In [ ]:
#adding values in dict
di={}
di[0]="orange"
di[1]="yellow"
di[2]="blue"
di[3]="red"
print(di)

{0: 'orange', 1: 'yellow', 2: 'blue', 3: 'red'}

In [ ]:
#list to dict
roll_no = [10, 20, 30, 40, 50]
names = ['Ramesh', 'Mahesh', 'Kamlesh',
         'Suresh', 'Dinesh']

students = dict(zip(roll_no, names))
print(students)

{10: 'Ramesh', 20: 'Mahesh', 30: 'Kamlesh', 40: 'Suresh', 50: 'Dinesh'}

In [ ]:
#used to convert a python list into a python dictionary with indexes as keys.
names = ['Ramesh', 'Mahesh', 'Kamlesh',
         'Suresh', 'Dinesh']
students = dict(enumerate(names))
print(students)

{0: 'Ramesh', 1: 'Mahesh', 2: 'Kamlesh', 3: 'Suresh', 4: 'Dinesh'}

In [ ]:
#keys
x=thisdict.keys()
x

dict_keys(['brand', 'electric', 'year', 'colors'])

In [ ]:
# adding key value pair
thisdict["model"]="mustang"
x

dict_keys(['brand', 'electric', 'year', 'colors', 'model'])

In [ ]:
#(or) can be added using update
thisdict.update({"model":"mustang"})
thisdict

{'brand': 'Ford',
 'electric': False,
 'year': 2020,
 'colors': ['red', 'white', 'blue'],
 'model': 'mustang'}

In [ ]:
#values
x=thisdict.values()
x

dict_values(['Ford', False, 1964, ['red', 'white', 'blue'], 'mustang'])

In [ ]:
#changing value of key
thisdict["year"]=2020
x

dict_values(['Ford', False, 2020, ['red', 'white', 'blue'], 'mustang'])

In [ ]:
#(or) can be changed by using update
thisdict.update({"year":2020})
thisdict

{'brand': 'Ford',
 'electric': False,
 'year': 2020,
 'colors': ['red', 'white', 'blue'],
 'model': 'mustang'}

In [ ]:
#items()
x=thisdict.items()
x

dict_items([('brand', 'Ford'), ('electric', False), ('year', 2020), ('colors', ['red', 'white', 'blue']), ('model', 'mustang')])

In [ ]:
if "model" in thisdict:
  print("yes")

yes

In [ ]:
#removing items by using popitem()
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()            # removes any item
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [ ]:
#(or) by using pop()
thisdict.pop("model")        # removes particular item
thisdict

{'brand': 'Ford'}

In [ ]:
#(or) by using del
del thisdict["model"]
thisdict

{'brand': 'Ford'}

In [ ]:
#del keyword can also delete the dictionary completely
del thisdict

In [ ]:
#clear() method empties the dictionary
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

In [ ]:
#loops
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [ ]:
# for getting keys
for x in thisdict:
  print(x)

brand
model
year

In [ ]:
#(or) for getting keys
for x in thisdict.keys():
  print(x)

brand
model
year

In [ ]:
#for getting values
for x in thisdict:
  print(thisdict[x])

Ford
Mustang
1964

In [ ]:
#(or) for getting values
for x in thisdict.values():
  print(x)

Ford
Mustang
1964

In [ ]:
# for getting both key and value pair
for x, y in thisdict.items():
  print(x, y)

brand Ford
model Mustang
year 1964

In [ ]:
# nested dictionaries
# Creating a dictionary that contain three dictionaries
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

In [ ]:
#(or)Creating three dictionaries,
#   then create one dictionary that will contain the other three dictionaries
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

In [ ]:
print(myfamily["child2"]["name"])

Tobias